body {
  margin: 0;
  background-color: rgba(28, 28, 28, 0.912);
}
button {
  border-radius: 10px;
  border: 1px;
  background: linear-gradient(
      217deg,
      rgba(162, 255, 0, 0.625),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(179, 7, 242, 0.851), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(13, 13, 243, 0.8), rgba(0, 0, 255, 0) 70.71%);
  color: antiquewhite;
}
button:hover {
  background: linear-gradient(
      217deg,
      rgba(162, 255, 0, 0.752),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgb(179, 7, 242), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(13, 13, 243, 0.8), rgba(0, 0, 255, 0) 70.71%);
}
